.cabecalho__menu-hamburguer {
    width: 28px;
    height: 28px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}